<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>nexgent challenge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Disable browser cache -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" /> <meta http-equiv="pragma" content="no-cache" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

  </head>
  <body>

    <div id="app"></div>

      <% if (htmlWebpackPlugin.options.isProduction || htmlWebpackPlugin.options.isStaging) { %>

      <% } %>

  </body>
</html>
